<%- include("./global/darkmode.ejs") %>
<%- include("./global/header.ejs") %>

<div class="container-fluid">
  <div class="row vh-100">
    <%- include("./sidebar/index.ejs") %>
    <%- include("./main/index.ejs") %>
  </div>
</div>

<%- include("./global/scripts.ejs") %>