<%- include("./global/darkmode.ejs") %>
<%- include("./global/icons.ejs") %>
<%- include("./global/header.ejs") %>

<div class="container-fluid">
  <div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <%- include("./global/mobile/companyName.ejs") %>
        <%- include("./global/ul.ejs") %>
      </div>
    </div>
    <%- include("./posts/list.ejs") %>
  </div>
</div>

<script defer src="/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>